body{ 
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: rgba(0,0,0,0.9);
color:white}


.container{
    max-width: 1400px;
    margin:0 auto;
}

header{background-image: 
    linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),
     url("../images/obsession.jpeg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 80px 90px;
h3{ color: white;
font-weight: 400;}
h1{ color:white;
font-weight: 600;
line-height: 1.5;

}
letter-spacing: 2px;

}

main{
    text-align: center;
}

.click-here-button a{ color:black;
    background-color: white;
    text-decoration: none;
    padding: 7px;
    display: inline-block;
    border-radius: 3px;
    margin: 20px;
    ;

    
}

footer{ text-align: center;}

@media(max-width:900px){

.click-here-button a{ 
    font-size: 15px;}
h1{ text-align: center;
font-size: 30px;
line-height: 2;
margin: 60px auto;
padding-top: 30px;
transition: all 0.4s ease-in-out;
}
h3{ position: absolute;
top: 0;
left: 0;
padding:40px 350px 0px 50px;
font-size: 20px;}

}
